<html>
  <head>
    <title>MailBot by espaciomore</title>
  </head>
  <body>
    <style type="text/css">
    {% autoescape false %}
      {{ css }}
    {% endautoescape %}
    </style>
    <div class="description">
      <h3>MailBot</h3>
      <p>A fast growing startup company dedicated to serving you through managing<br/> 
        your electronic newsletters, so you can follow up your clients just like we do.
      </p>
      <p>
        <a href="{{ conf['url'] }}/signup">
          <button class="btn btn-primary">Sign up now</button>
        </a>
        <button class="btn btn-primary">
          Connect with Facebook<!-- <fb:login-button size="small" max-rows="1" ></fb:login-button> -->
        </button>
      </p>
    </div>
    <script type="text/javascript">
    {% autoescape false %}
      {{ js }}
    {% endautoescape %}
    </script>
  </body>
</html>