<html>
  <head>
    <title>MailBot by espaciomore</title>
  </head>
  <body>
    <style>
    {% autoescape false %}
      {{ css }}
    {% endautoescape %}
    </style>
    <div class="description">
      <h3>Welcome to MailBot</h3>
      <p>Dear {{ name }},</p>
      <p>Thank you for joining MailBot where you can follow up your clients just we do.</p>
      <p>We would like your recommendation to your friends, please share!</p>
    </div>
    <form action="{{ conf['url'] }}/invite" method="POST" role="form" class="form-inline">
      <div class="form-group">
        <input id="rName" name="rName" type="text" value="{{ name }}" class="hidden form-control input-sm"/>
      </div>
      <div class="form-group">
        <input id="rEmail" name="rEmail" type="text" value="{{ email }}" class="hidden form-control input-sm"/>
      </div>
      <div class="form-group">
        <input id="email" name="email" type="text" placeholder="Enter friend's e-mail" class="form-control input-sm"/>
      </div>
      <button type="submit" class="btn btn-default btn-sm">Invite</button>
    </form>
    <script type="text/javascript">
    {% autoescape false %}
      {{ js }}
    {% endautoescape %}
    </script>
  </body>
</html>